button {
    background-color: #012677;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
    text-align: center;
    width: 60px;
    font-family: inherit;
}

.twoSpots {
    width: 124px;
}

button:hover {
    background-color: #001449;
}